{% extends 'website/base.html' %}

{% block title %}WHY U DO DIS? | {{ website_name }}{% endblock %}

{% block content %}
    Sorry, after a lot of searching we can't find what you're looking for, just like you can't find a girlfriend.

    Here's a little surprise for you.

    <form action="/secret_page.php">
        <input type="text" name="firstname" value="" hidden="true"><br>
        <input type="submit" value="Submit" hidden="true">
      </form>

    Don't even try. Bug Off.
{% endblock %}