{% extends 'website/base.html' %} 
{% block title %}Transaction History | {{ website_name }}{% endblock %} {% block content %}

<div id="contact" class="contact-area">
    <div class="contact-inner padding-manage-transactions">
        <div class="contact-overly"></div>
        <div class="container ">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>Transaction History</h2>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 20px">
                <h4>Your Account Number: {{user_account_number}}</h4>
            </div>
            <div class="row" style="margin-bottom: 20px">
                <h4>Your Account Balance: INR {{user_account_balance}}</h4>
            </div>
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Sender Account</th>
                            <th scope="col">Recipient Account</th>
                            <th scope="col">Transaction Type</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Timestamp</th>
                            <th scope="col">Transaction Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in user_transactions %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ transaction.senderAccount.acc_number }}</td>
                            <td>{{ transaction.recipientAccount.acc_number }}</td>
                            {% if user_account_number == transaction.senderAccount.acc_number %}
                                <td>Debit</td>
                            {% else %}
                                <td>Credit</td>
                            {% endif %}
                            <td>{{ transaction.amount }}</td>
                            <td>{{ transaction.timestamp }}</td>
                            {% if transaction.isValidated == True %}
                                <td>Success</td>
                            {% else %}
                                <td>Pending</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="text-center form contact-form">
                <form action="{% url 'get_statement' %}">
                    <button type="submit">Download Account Statement</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}