{% extends 'website/base.html' %}

{% block title %}Transactions | GoldWomenSex{% endblock %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Sender</th>
            <th scope="col">Amount</th>
            <th scope="col">Timestamp</th>
            <th scope="col">Validated</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in all_transactions %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ transaction.sender }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.timestamp }}</td>
                <td>{{ transaction.isValidated }}</td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}