{% extends 'website/base.html' %} 
{% block title %}Profile | {{ website_name }}{% endblock %}

{% block captcha %}<script src='https://www.google.com/recaptcha/api.js'></script>{% endblock %} 

{% block content %}

<!-- 
                 /\/_\_
                 \/ ))))
                  ",".//
                  \%_,O
                    _||___
                   /)___/_\
                  '(_/\_)\/\
                 />,\\/ / \/\
                 \o\/==/\  \/o__
                  (/| /o\\   \,\\-
                  //  \ | \
                 /o|  |  \ \
                / /  / o  \ \
               / /   \    |  \
              /  | o /    \ o \
              \  /   |     \   \
              / /   /    o /    \
             / | o  \      )    |
            /__/\___/_____/\___o/
                 ='      ='
What'cha lookin' at!?
 -->

<div id="contact" class="contact-area">
    <div class="contact-inner new-page-padding">
        <div class="contact-overly"></div>
        <div class="container ">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>Profile</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form contact-form">
                        <form action="{% url 'profile' %}" method="post" role="form">
                            {% csrf_token %}
                            {% if form.errors %}
                                {% for field in forms %}
                                    {% if field.errors %}
                                        {{ field.errors }}
                                    {% endif %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ messaage.tags }}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <h4>
                                Name:
                            </h4>
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" disabled placeholder="{{ username }}" />
                            </div>
                            <!-- <h4>
                                Account Number:
                            </h4>
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" disabled placeholder="{{ account_number }}" />
                            </div> -->
                            <h4>
                                Phone Number:
                            </h4>
                            <div class="form-group">
                                <input type="text" name="contact" class="form-control" required id="id_contact" value="{{ contact }}" placeholder="Contact Number" />
                            </div>
                            <h4>
                                Address:
                            </h4>
                            <div class="form-group">
                                <input type="text" name="address" class="form-control" required id="id_address" value="{{ address }}" placeholder="Address"/>
                            </div>
                            <h4>
                                Aadhar
                            </h4>
                            <div class="form-group">
                                <input type="text" name="aadhar" class="form-control" required id="id_address" value="{{ aadhar }}" placeholder="Aadhar"
                                />
                            </div>
                            <div class="g-recaptcha text-center" data-sitekey="{{ captcha_site_key }}"></div>
                            <div class="text-center"><button type="submit">Request Modification</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}