{% extends 'website/base.html' %} 

{% block title %}Transact | {{ website_name }}{% endblock %} 

{% block captcha %}<script src='https://www.google.com/recaptcha/api.js'></script>{% endblock %} 

{% block content %}
<div id="contact" class="contact-area">
    <div class="contact-inner new-page-padding">
        <div class="contact-overly"></div>
        <div class="container ">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>Transaction</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form contact-form">
                        <form action="{% url 'transact' %}" method="post" role="form">
                            {% csrf_token %}
                            {% if form.errors %}
                                {% for field in forms %}
                                    {% if field.errors %}
                                        {{ field.errors }}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ messaage.tags }}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <h4>
                                Amount:
                            </h4>
                            <div class="form-group">
                                <input type="number" name="amount" class="form-control" required id="id_amount" placeholder="Amount" />
                            </div>
                            <h4>
                                Account Number:
                            </h4>
                            <div class="form-group">
                                <input type="number" class="form-control" name="acc_num" required id="id_acc_num" placeholder="Account Number" />
                            </div>
                            <h4>
                                OTP:
                            </h4>
                            <div class="form-group">
                                <input type="number" class="form-control" name="otp" required id="otp" placeholder="Enter OTP" />
                            </div>
                            <!-- <div class="g-recaptcha text-center" data-sitekey="{{ captcha_site_key }}"></div> -->
                            <div class="text-center"><button type="submit">Initiate Transaction</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}